---
import { menuItems } from "../consts";
import { Icon } from "astro-icon/components";
---

<ul
  class="menu bg-base-100 w-full m-0 flex flex-col items-center lg:items-start transition-colors"
>
  {
    menuItems.map((item) => (
      <li class="w-full relative group">
        {item.subItems ? (
          <details class="menu-item">
            <summary class="items-center flex font-bold p-4 text-center text-xl hover:bg-base-200 justify-center lg:justify-start lg:text-xl md:text-3xl rounded-lg transition-color transition-scale">
              <Icon name={item.svg} class="transition-transform duration-200 group-hover:scale-110"/>
              <span class="transition-transform duration-200 group-hover:translate-x-1 hidden lg:inline ml-2">{item.text}</span>
            </summary>
            <ul>
              {item.subItems.map((subItem) => (
                <li>
                  <a
                    tabindex="0"
                    class="menu-item font-bold text-base hover:bg-base-200 lg:text-base md:text-2xl p-2 rounded-lg transition-color transition-scale"
                    id={`header-${subItem.id}`}
                    href={subItem.href}
                    target={subItem.target || "_self"}
                    aria-label={subItem.text}
                  >
                    <Icon name={subItem.svg} class="transition-transform duration-200 group-hover:scale-110" />
                    <span class="transition-transform duration-200 group-hover:translate-x-1 hidden lg:inline ml-2">{subItem.text}</span>
                  </a>
                </li>
              ))}
            </ul>
          </details>
        ) : (
          <a
            tabindex="0"
            class="items-center flex font-bold p-4 text-center text-xl hover:bg-base-200 justify-center lg:justify-start lg:text-xl md:text-3xl rounded-lg transition-color transition-scale"
            id={item.id}
            title={item.id}
            href={item.href}
            target={item.target || "_self"}
            aria-label={item.text}
          >
            <Icon name={item.svg} class="transition-transform duration-200 group-hover:scale-110"/>
            <span class="transition-transform duration-200 group-hover:translate-x-1 hidden lg:inline ml-2">{item.text}</span>
          </a>
        )}
      </li>
    ))
  }
</ul>
